[Unit]
Description=Tdarr Server Daemon
After=network.target

[Service]
User=tdarr
Group=media

Type=simple
WorkingDirectory=/opt/tdarr/Tdarr_Server
ExecStart=/opt/tdarr/Tdarr_Server/Tdarr_Server
TimeoutStopSec=20
KillMode=mixed
Restart=on-failure

[Install]
WantedBy=multi-user.target