[Unit]
Description=Lidarr Daemon
After=syslog.target lidarr-kerberos-ticket-refresher.service

[Service]
User=lidarr
Group=media
UMask=0002

Type=simple
WorkingDirectory=/opt/lidarr
ExecStart=/opt/lidarr/Lidarr -nobrowser -data=/config/
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
