[Unit]
Description=Node-RED
After=syslog.target network.target

[Service]
User=node-red
Group=node-red

WorkingDirectory=/config
ExecStart=/usr/bin/node /opt/node_red/node_modules/node-red/red.js --userDir /config flows.json
Restart=on-failure
KillSignal=SIGINT

SyslogIdentifier=node-red
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
