[Unit]
Description=Sabnzbd Server Daemon
After=sabnzbd-kerberos-ticket-refresher.service

[Service]
User=sabnzbd
Group=media
UMask=0002

Type=simple
WorkingDirectory=/config
ExecStart=/opt/python/bin/python3 -OO /opt/sabnzbd/SABnzbd.py --config-file /config --server 0.0.0.0
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target