[Unit]
Description=The snappy web interface for your 3D printer
After=octoprint-kerberos-ticket-refresher.service
Wants=network-online.target

[Service]
PermissionsStartOnly=true
User=octoprint
Group=octoprint

Type=simple
Environment="LC_ALL=C.UTF-8"
Environment="LANG=C.UTF-8"
ExecStartPre=/usr/bin/chgrp octoprint /dev/ttyACM0
ExecStart=/opt/python/bin/octoprint --basedir /config

[Install]
WantedBy=multi-user.target
