[Unit]
Description=Overseer
After=syslog.target overseer-kerberos-ticket-refresher.service
Requires=overseer-kerberos-ticket-refresher.service

[Service]
User=overseer
Group=overseer
UMask=0022

ExecStart=/usr/bin/yarn start
Restart=on-failure
KillSignal=SIGINT

SyslogIdentifier=overseer
StandardOutput=syslog
StandardError=syslog

WorkingDirectory=/opt/overseer

[Install]
WantedBy=multi-user.target
