[Unit]
Description=Home Assistant
After=home_assistant-kerberos-ticket-refresher.service
Requires=home_assistant-kerberos-ticket-refresher.service

[Service]
User=home_assistant

Type=simple
WorkingDirectory=/config
ExecStart=/opt/home_assistant/venv/bin/hass -c "/config"
Restart=always
RestartForceExitStatus=100

SyslogIdentifier=home-assistant
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
