[Unit]
Description=zwave-js-ui
Wants=network-online.target
After=network-online.target

[Service]
User=zwavejs
Group=zwavejs
UMask=0002

Type=simple
WorkingDirectory=/config
ExecStart=/opt/zwave-js-ui/zwave-js-ui-linux
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
